*~
*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
/autom4te.cache/
/aclocal.m4
/build-aux/
/config.log
/config.status
/configure
/example/fzex1.lv2/fzex1.so
/libtool
/m4/
/src/config.h
/src/config.h.in
/src/libfreeztile.la
/src/stamp-h1
/tests/check_*
!/tests/check_*.c
/tests/*.dat
/tests/test-suite.log
