*~
*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
/autom4te.cache/
/aclocal.m4
/build-aux/
/config.log
/config.status
/configure
/libtool
/m4/
/src/config.h
/src/config.h.in
/src/libfreeztile.la
/src/stamp-h1
/tests/check_*
